.header-sticky {
  position: fixed;
  z-index: 1000;
  width: 100%;

}

.navbar .in .nav li {
   display: block;
   float: none;
   width:100%;
}

.header-margin {
	margin-bottom: 0%; 
	margin-top: 0%; 
	margin-left: 0%; 
	margin-right: 0% ; 
	border:none
}

.padding-zero {
	padding: 0px 0px 0px 0px;
}

body {
	padding:0;
  	margin:0;
  	background:#fff url(../images/body.gif) repeat-x 0 0;
	font-family: 'Sans-Serif', serif;
	font-size: 15px;
	color : #848484;
}

#footer-container {
	margin-top : 90px;
}


h1, h2 {
	color : black;
}

a {
	color : #ffffff;
	
}

input[type="image"] {
	outline : none;
	border : 0;
}

.href-border {
	color : #ffffff;
	border: 1px solid #ffffff;
	padding: 2px 1px 1px 2px;
	text-decoration: none;
}

.a-text-decoration {
	text-decoration: none;
	outline: none;
}



.href-not-active {
   pointer-events: none;
   cursor: default;
}

select, select option {
  overflow: hidden;
  text-overflow: ellipsis;
}

.common-btn-fb {
	width:50%;
  	background-color: #49639F;
  	border: none;
  	outline: none;
  	color: #fff;
  	font-size: 14px;
  	font-weight: normal;
  	padding: 14px 14px 14px 14px;
  	border-radius: 2px;
  	text-transform: uppercase;
  	cursor: pointer; 
}

.common-btn {
	width:100%;
  	background-color: #FF8C00;
  	border: none;
  	outline: none;
  	color: #fff;
  	font-size: 14px;
  	font-weight: normal;
  	padding: 14px 14px 14px 14px;
  	border-radius: 2px;
  	text-transform: uppercase;
  	margin-bottom: 10px;
}


.common-btn:hover {
  background: #FFA500
}


.common-btn-disabled {
	width:100%;
  	background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  	outline: none;
  	font-size: 14px;
  	font-weight: normal;
  	padding: 14px 14px 14px 14px;
  	border-radius: 2px;
  	text-transform: uppercase;
  	margin-bottom: 10px;
  	cursor: not-allowed;
}

.common-btn-border {
	width:100%;
  	background-color: white; 
    color: black; 
    border: 2px solid #FF8C00;
  	outline: none;
  	font-size: 14px;
  	font-weight: normal;
  	padding: 14px 14px 14px 14px;
  	border-radius: 2px;
  	text-transform: uppercase;
  	margin-bottom: 10px;
}

.input-group {
	width: 50%;
	margin-bottom: 10px;
}

.common-input-transparent {
  	height:45px;
  	background: transparent;
  	color: black;
    font-size: 17px;
    border: ridge;
}

.common-input-text {
	width: 100%;
  	height:40px;
  	outline: none;
  	padding: 0 10px;
  	border: 1px solid #ddd;
  	border-radius: 2px;
  	color: #333;
  	font-size:1.4rem;
  	-webkit-transition:all 0.1s linear;
  	-moz-transition:all 0.1s linear;
  	transition:all 0.1s linear;
  	margin-bottom: 10px;
}

  
.email-icon {
	background: #fff url(../images/icons/glyphicons-envelope.png) no-repeat;
	background-position: 3px 8px;
	padding: 10px 10px 10px 25px;
	background-size: 15px 18px;
}

.password-icon {
	background: #fff url(../images/icons/glyphicons-lock.png) no-repeat;
	background-position: 3px 8px;
	padding: 10px 10px 10px 25px;
	background-size: 15px 18px;
}

.user-icon {
	background: #fff url(../images/icons/glyphicons-user.png) no-repeat;
	background-position: 3px 8px;
	padding: 10px 10px 10px 25px;
	background-size: 15px 18px;
}

 
.common-input-text:focus , .common-input-textarea:focus{ 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

.common-input-textarea {
	width: 100%;
  	height:80px;
  	outline: none;
  	border: 1px solid #ddd;
  	padding: 0 10px;
  	border-radius: 2px;
  	color: #333;
  	font-size:1.4rem;
  	-webkit-transition:all 0.1s linear;
  	-moz-transition:all 0.1s linear;
  	transition:all 0.1s linear;
  	margin-bottom: 10px;
}

.breadcrumb {
	background-color: #fff;
}
	

/* Main menu CSS start */


.navbar {
	border-radius: 0px;
}

.mainmenu {
}

.mainmenu li { 

	padding: 3px 4px 3px 3px; 
	/* border-right: 1px solid #ffffff; */
	cursor: pointer; 
}

.ccblue .mainmenu 
{ 
	background-color: #6f5499 ;
}

.ccblue .mainmenu li:hover { 
	background: #027cd5; 
}

/* Main menu CSS end */


/* Login  modal and other input textarea button CSS start */
.login-box{
  	position:relative;
  	width: 100%;
  	height: 100%;
  	background:#fff url(../images/mk-logo.png) no-repeat 40px 21px;
  	border-radius: 3px;
  	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.lb-header{
  	position:relative;
  	color: #00415d;
  	margin: 5px 5px 15px 5px;
  	padding-bottom:10px;
  	text-align:center;
  	height:20px;
  	font-size: 20px;
}

.lb-header a{
  	margin: 0 15px;
  	padding: 0 20px;
  	text-decoration: none;
  	color: #666;
  	font-weight: bold;
  	-webkit-transition: all 0.1s linear;
  	-moz-transition: all 0.1s linear;
  	transition: all 0.1s linear;
  	border: 2px solid rgba(0,0,0,0.05);
}

.lb-header .active{
  	color: #029f5b;
  	font-size: 25px;
  	border: 2px solid orange;
}

.close {
	font-size: 24px;
    font-weight: 900;
}

.social-login{
  	position:relative;
  	float: left;
  	width: 100%;
  	height:auto;
  	padding: 10px 0 15px 0;
  	border-bottom: 1px solid #eee;
}

.social-login a{
  	position:relative;
  	float: left;
  	width:calc(40% - 8px);
  	text-decoration: none;
  	color: #fff;
  	border: 1px solid rgba(0,0,0,0.05);
  	padding: 12px;
  	border-radius: 2px;
  	font-size: 12px;
  	text-transform: uppercase;
  	margin: 0 5%;
  	text-align:center;
}

.social-login a i{
  	position: relative;
  	float: left;
  	width: 20px;
  	top: 2px;
}

.social-login a:first-child{
  	background-color: #49639F;
}

.social-login a:last-child{
  	background-color: #DF4A32;
}

.email-login,.email-signup{
  	position:relative;
  	float: left;
  	width: 100%;
  	height:auto;
  	margin-top: 20px;
  	text-align:center;
}

/* Login  modal and other input textarea button CSS CSS end */



/* Product images css start */


.product-img-border div {
	transition: 1s ease;
}
.product-img-border div:hover{
	-moz-box-shadow: 0 0 10px orange; 
	-webkit-box-shadow: 0 0 10px orange; 
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #ccc; 
}

.product-thumbnail-border, .div-border {
	border:1px solid orange;
}

.product-img-grow img {
	transition: 1s ease;
}
.product-img-grow img:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	transition: 1s ease;
}

.product-img-big {
	width : 341px;
	height : 400px;
}

/* Product images css end */


/* Display message css start */
.isa_info, .isa_success, .isa_warning, .isa_error, .isa_success_modal, .isa_error_modal {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	padding:5px 12px 5px 12 px;
	
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_success_modal {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_error_modal {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i, .isa_success_modal i, .isa_error_modal i{
    margin:10px 10px 10px 10px;
    vertical-align:middle;
}
/* Display message css end /*/

/* Loading image on page load or opreration css start */
#loading {
   width: 100%;
   height: 100%;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 1000;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 40%;
  left: 45%;
}
/* Loading image on page load or opreration css end /*/


/* Review CSS start */
 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: orange;
}
/* Review CSS end */